<h1>Books</h1>
<% @books.each do |book| %>

<div class= "category">
  <div class= "book title">Title</div>
  <span><%= link_to book.title, "book_path(book.id)" %></span>

  <div class= "book body">Body</div>
  <span><%= link_to book.body, "book_path(book.id)" %></span>

  <%= link_to "Show", book_path(book.id) %>
  <%= link_to "Edit", edit_book_path(book.id) %>
  <%= link_to "destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
</div>

<% end %>



<h1>New book</h1>

<%= form_with model: @book, url: '/books', method: :post do |f| %>

  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>
<% end %>
